language: ruby
rvm:
- 2.2

deploy:
  provider: heroku
  api_key:
    secure: LuHGX0fi1EeQObEAUI9clXPk4wECBOhWHLH9Mpx+MkAxaG6o0uEBUcJSTBiHCva8vUEpGyHnA6OwIFYB1jhBZIzVLyqIFN+3pFvHj8NASr2D7F3E3iMFrb3vAulQbThUmV/iq863OvZArw7GOtBrhhG1jQdptiHv1+Zcwo+/zsTwMRR2Iv+uiOAH7vsuhFFmouERCSAXxOmXILPfsCGbaZOCV/ENRlmfDBeP+l5hGuywzKdaeo2n8MIBgQXhcBs6bwwOymPgtFIEjJF8yaV5I4gxT3vUVzLqFZwDNpux6XCKmPCIhIQf+7Zu7OToq3KQdinsbaSAusTRbdaZPm4xZmGLcfq+dQWepiXWr6wWYafYBUig1qmTDoVYQxbWRQon8f5/fD1BXkHggQ2tzIZe5RwZKjknF2mD2oS/xZuwkF5jrLo1S+GYfOzINvy7GnhOatQKSeFTdh/oTKc6cwMjIZ6U3zMAYgX9g05DKV8X/svrWgNLtAa5ucK/hHMdNq0pEiBC59y9HprGu24GYkqZAWlhueeFziYw0gGdcv+eEA9fiyLna1iVIFJdO/y3mr8FvdbWrO7Lajxj9MYPebivRwWDg5BhA1huJz8+m+LPdgsE8jz9C8Uw1HNUMfgURm5FIArLsxcVcYrHw/2lSwFk1pz/ejqx1p0StNietEVMuWE=
